@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
}

.container{
    display: flex;
    flex-direction: row;
}

.odin-bg{
    width: 34%;
    background-image: url("bg-image.jpg");
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    background-size: 100vh;
}

.upper-sec{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 33vh;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 0.5);
    padding: 10px;
    box-sizing: border-box;
}

.banner>span{
    font-family: 'Norse',sans-serif;
    font-size: 90px;
    color: white;
}

#logo{
    height:90px;
}

.main{
    width: 66%;
}

.sec-1{
    box-sizing: border-box;
    height: 33vh;
    background-color: rgb(239, 239, 239);
    padding: 35px;
    display: flex;

    justify-content:center;
    align-items: center;
}

.sec-1>span{
    font-size: 20px;
    font-weight: 700;
}

.sec-2{
    box-sizing: border-box;
    height:34vh;
    padding: 35px;
    box-shadow: 0px 2px 2px 1px rgb(189, 189, 189);
    
}

form{
    height: 100%;
}

.form-sec{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.col{
    width: 35%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    font-size: 12px;
}

legend{
    padding-bottom: 5px;
}

.inputs{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

input{
    width: 80%;
    height: 20px;
}

input:focus{
    box-shadow: 2px 2px 2px 1px rgb(189, 189, 189);
    outline: 1px solid #4a6ed6;
    border: none;
    border-radius: 1px;
    outline-color: blue;
}

input:invalid{
    border: red solid;
    border-radius: 3px;
}

.sec-3{
    box-sizing: border-box;
    height: 33vh;
    background-color: rgb(239, 239, 239);
    padding: 35px;
    display: flex;
    flex-direction: column;
    z-index: -1;
    position: relative;
}

button{
    background-color: #596D48;
    color:white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 6px;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 2px 1px rgb(189, 189, 189);
}

#login{
    padding-top: 10px;
}

